<form [formGroup]="studentForm" (submit)="saveStudent()">
    <div class="row mb-3">
        <div class="col-12">
            <label for="name" class="form-label">Nombre</label>
            <input id="name" type="text" formControlName="name" class="form-control">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <label for="dni" class="form-label">DNI</label>
            <input id="dni" type="text" formControlName="dni" class="form-control">
        </div>
        <div class="col-8">
            <label for="mail" class="form-label">Mail</label>
            <input id="mail" type="text" formControlName="mail" class="form-control">
        </div>
    </div>
    <div class="row mt-4 mb-2">
        <div class="col-12 text-end">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</form>
