<div class="row">
  <div class="col-12 mt-3">
    <div class="container-sm text-end">
      <button
        type="button"
        class="btn border-black color-black"
        (click)="createGroup()"
        title="Agregar nuevo grupo"
      >
        A&ntilde;adir nuevo
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 mt-3">
    <div class="mx-auto container-sm card text-center">
      <div class="card-body">
        <h5 class="card-title">Grupos</h5>
        <p class="card-text">
          Informaci&oacute;n de los grupos del curso.
        </p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">N&uacute;mero</th>
              <th scope="col">Cantidad estudiantes</th>
              <th scope="col">Cantidad repositorios</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let group of groups">
              <td [innerHTML]="group.id"></td>
              <td [innerHTML]="group.studentsAmount"></td>
              <td [innerHTML]="group.repositoriesAmount"></td>
              <td>
                <button class="btn btn-secondary"   (click)="goToRepositories(group.id)">
                  Ver Repositorios
                </button>
                <button class="btn btn-secondary" data-bs-target="#studentsModal" data-bs-toggle="modal" (click)="loadGroupStudents(group.id)">
                  Ver Estudiantes
                </button>
                <button class="btn btn-danger"
                (click)="setGroupIdSelected(group.id)"
                data-bs-target="#confirmDeleteModal"
                data-bs-toggle="modal">
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="studentsModal" class="modal fade" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Estudiantes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">DNI</th>
              <th scope="col">Nombre y apellido</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of groupStudents">
              <td [innerHTML]="student.dni"></td>
              <td [innerHTML]="student.name"></td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-7">
            <select [(ngModel)]="selectedStudent" class="form-select">
              <option [value]=null>Seleccione un estudiante</option>
              <option *ngFor="let student of students" [value]="student.dni">{{student.dni + ' - ' + student.name}}</option>
            </select>
          </div>
          <div class="col-3">
            <button
              type="button"
              class="btn border-black color-black"
              (click)="addStudent()"
              title="Agregar estudiante existente"
            >
              A&ntilde;adir
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h4>
        <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <p>¿Estás seguro de que quieres eliminar este grupo?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="deleteGroup(); closeModal()">Eliminar</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
    </div>
  </div>
</div>
</div>