<div class="row">
  <div class="col-12 mt-3">
    <div class="mx-auto container-sm card text-center background-transparent">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h5 class="card-title text-start">Grupos</h5>
            <p class="card-text text-start">
              Informaci&oacute;n de los grupos del curso.
            </p>
          </div>
          <div class="col-4 text-end">
            <button
              type="button"
              class="btn border-black color-black border-0"
              (click)="createGroup()"
              title="Agregar nuevo grupo"
            >
              <i class="bi bi-plus-lg"></i> A&ntilde;adir nuevo
            </button>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">N&uacute;mero</th>
              <th scope="col">Cantidad estudiantes</th>
              <th scope="col">Cantidad repositorios</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let group of groups">
              <td [innerHTML]="group.id"></td>
              <td [innerHTML]="group.studentsAmount"></td>
              <td [innerHTML]="group.repositoriesAmount"></td>
              <td>
                <button
                  type="button"
                  class="btn"
                  (click)="goToRepositories(group.id)"
                >
                  <i class="bi bi-github"></i>
                </button>
                <button
                  type="button"
                  class="btn"
                  data-bs-target="#studentsModal"
                  data-bs-toggle="modal"
                  (click)="loadGroupStudents(group.id)"
                >
                  <i class="bi bi-person-fill-add"></i>
                </button>
                <button
                  type="button"
                  class="btn"
                  (click)="setGroupIdSelected(group.id)"
                  data-bs-target="#confirmDeleteModal"
                  data-bs-toggle="modal"
                >
                  <i class="bi bi-trash-fill color-red"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="studentsModal" class="modal fade" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Estudiantes</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">DNI</th>
              <th scope="col">Nombre y apellido</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of groupStudents">
              <td [innerHTML]="student.dni"></td>
              <td [innerHTML]="student.name"></td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-9">
            <select [(ngModel)]="selectedStudent" class="form-select">
              <option [value]="null">Seleccione un estudiante</option>
              <option *ngFor="let student of students" [value]="student.dni">
                {{ student.dni + " - " + student.name }}
              </option>
            </select>
          </div>
          <div class="col-3">
            <button
              type="button"
              class="btn border-black color-black"
              (click)="addStudent()"
              title="Agregar estudiante existente"
            >
              A&ntilde;adir
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="confirmDeleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirmDeleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="confirmDeleteModalLabel">
          Confirmar eliminaci&oacute;n
        </h4>
        <button
          #confirmDeleteModalCloseButton
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>¿Est&aacute;s seguro de que quieres eliminar este grupo?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteGroup()">
          Eliminar
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
