<div class="row">
  <div class="col-12 mt-3">
    <div class="container-sm text-end">
      <button
        type="button"
        class="btn background-red border-red color-white me-1"
        data-bs-target="#newStudentModal"
        data-bs-toggle="modal"
        title="A&ntilde;adir nuevo estudiante"
      >
        <i class="bi bi-person-fill-add"></i> A&ntilde;adir nuevo estudiante
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 mt-3">
    <div class="mx-auto container-sm card text-center background-transparent">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title text-start">Cursos</h4>
            <p class="card-text text-start">
              Informaci&oacute;n de los cursos actuales.
            </p>
          </div>
          <div class="col-4 text-end">
            <button
              type="button"
              class="btn border-black color-black border-0"
              data-bs-target="#newCourseModal"
              data-bs-toggle="modal"
              title="A&ntilde;adir nuevo curso"
            >
              <i class="bi bi-plus-lg"></i> A&ntilde;adir nuevo
            </button>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">A&ntilde;o</th>
              <th scope="col">Cuatrimestre</th>
              <th scope="col">Nombre</th>
              <th scope="col">Materia</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let course of courses"
              [routerLink]="['/grupos']"
              [queryParams]="{ cursoId: course.id }"
            >
              <td [innerHTML]="course.year"></td>
              <td [innerHTML]="course.semester"></td>
              <td [innerHTML]="course.name"></td>
              <td [innerHTML]="course.subject.name"></td>
              <td>
                <button
                  type="button"
                  class="btn"
                  (click)="deleteCourseModal($event, course.id)"
                  data-bs-target="#confirmDeleteModal"
                  data-bs-toggle="modal"
                >
                  <i class="bi bi-trash-fill color-red"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="newCourseModal" class="modal fade" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nuevo curso</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-courses-form></app-courses-form>
      </div>
    </div>
  </div>
</div>
<div id="newStudentModal" class="modal fade" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">
          Nuevo estudiante
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-students-form></app-students-form>
      </div>
    </div>
  </div>
</div>
<div id="confirmDeleteModal" class="modal fade" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="confirmDeleteModalLabel">
          Confirmar eliminaci&oacute;n
        </h4>
        <button
          #confirmDeleteModalCloseButton
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>¿Est&aacute;s seguro de que quieres eliminar este curso?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteCourse()">
          Eliminar
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
